.spinner {
  text-align: center;
}

@keyframes ldio-pq0x2rh9c7q-1 {
  0% {
    top: 19.4px;
    height: 61.2px;
  }
  50% {
    top: 33px;
    height: 34px;
  }
  100% {
    top: 33px;
    height: 34px;
  }
}
@keyframes ldio-pq0x2rh9c7q-2 {
  0% {
    top: 22.799999999999997px;
    height: 54.400000000000006px;
  }
  50% {
    top: 33px;
    height: 34px;
  }
  100% {
    top: 33px;
    height: 34px;
  }
}
@keyframes ldio-pq0x2rh9c7q-3 {
  0% {
    top: 26.200000000000003px;
    height: 47.599999999999994px;
  }
  50% {
    top: 33px;
    height: 34px;
  }
  100% {
    top: 33px;
    height: 34px;
  }
}
.ldio-pq0x2rh9c7q div {
  position: absolute;
  width: 14px;
}
.ldio-pq0x2rh9c7q div:nth-child(1) {
  left: 18px;
  background: #1d3f72;
  animation: ldio-pq0x2rh9c7q-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.2s;
}
.ldio-pq0x2rh9c7q div:nth-child(2) {
  left: 43px;
  background: #5699d2;
  animation: ldio-pq0x2rh9c7q-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.1s;
}
.ldio-pq0x2rh9c7q div:nth-child(3) {
  left: 68px;
  background: #d8ebf9;
  animation: ldio-pq0x2rh9c7q-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: undefineds;
}

.loadingio-spinner-pulse-rbotfoul9n8 {
  width: 71px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-pq0x2rh9c7q {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pq0x2rh9c7q div {
  box-sizing: content-box;
}
